rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}/images/{imageId} {
      allow get: if request.auth.uid != null
        && request.auth.uid == userId
      allow create: if request.auth.uid != null
        && request.auth.uid == userId
        && request.resource.size < 10 * 1024 * 1024
        && request.resource.contentType.matches('image/.*');
    }
  }
}
